# LaTeX intermediate files (keep the generated PDF under version control).
*.acn
*.acr
*.alg
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.ist
*.loa
*.lof
*.lol
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.out
*.ps
*.run.xml
*.snm
*.synctex.gz
*.synctex(busy)
*.tdo
*.thm
*.toc
*.vrb
*.xdv
